# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Environment variables file
.env
.env.local
.env.production

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# pyenv
.python-version

# pytest
.pytest_cache/
.coverage
htmlcov/

# System files
.DS_Store
Thumbs.db

# Node (if you add frontend later)
node_modules/
npm-debug.log

# Keep data.json for deployment
!data.json